@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root{
    --color-white: #ffffff;
    --color-like-red: #f53838;
    --color-like-blue: #0B132A;
    --color-like-gray: #4F5665;
    --color-light-gray: #dddddd;
    --color-background: #F6F6F6;

    --font-size-14px: 0.875em;
    --font-size-16px: 1em;
    --font-size-18px: 1.125em;
    --font-size-20px: 1.25em;
    --font-size-25px: 1.5625em;
    --font-size-35px: 2.1875em;
    --font-size-50px: 3.125rem;

    --font-responsiva-37: 2.3125em;
    --font-responsiva-30: 1.875em;

    --font-rubik: 'Rubik', sans-serif;

    --animacao: all ease-in .4s;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--color-background);
}
header{
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    position: fixed;
    padding: 0 20px;
    justify-content: center;
    background: var(--color-background);
    z-index: 999;
}
.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu nav{
    margin-right: 100px;
}
.menu nav ul {
    display: flex;
    list-style-type: none;
}
.menu nav ul li {
    padding: 10px;
}
.menu nav ul li a{
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
    font-family: var(--font-rubik);
    font-size: var(--font-size-16px);
    color: var(--color-like-gray);
    transition: var(--animacao);
}
.menu nav ul li a:hover{
    color: var(--color-like-red);
}

/* style main call */
.main{
    display: flex;
    padding: 0 20px;
    margin-top: 80px;
    justify-content: center;
}
.information_main, 
.img_information{
    flex: 1;
}
.img_information img, .features-img img{
    width: 100%;
}

.information_main h1{
    line-height: 70px;
    font-family: var(--font-rubik);
    font-size: var(--font-size-50px);
}
.information_main p{
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: var(--font-rubik);
    font-size: var(--font-size-16px);
}
.information_main a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 70px;
    border-radius: 10px;
    color: var(--color-white);
    font-size: var(--font-size-16px);
    font-family: var(--font-rubik);
    transition: var(--animacao);
    background: var(--color-like-red);
    box-shadow: 0px 4px 14px rgb(245 56 56);
}
.information_main a:hover{
    filter: brightness(75%);
}

/* style numbers */
.numbers{
    display: flex;
    padding: 100px 0;
    justify-content: center;
}
.container--arguments{
    display: flex;
    padding: 30px;
    max-width: 1140px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.number-item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number-item-img{
    margin-right: 20px;
}
.number-item-count{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.number-item-count p{
    font-weight: 700;
    font-family: var(--font-rubik);
    font-size: var(--font-size-25px);
}
.number-item-count span{
    font-family: var(--font-rubik);
    font-size: var(--font-size-20px);
}

/* features */
.features{
    display: flex;
    justify-content: center;
}
.features-img, .features-information{
    flex: 1;
}
.features-information {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    font-family: var(--font-rubik);
}
.features-information h2{
    max-width: 383px;
    font-size: var(--font-size-35px);
}
.features-information p {
    margin: 20px 0;
    font-weight: 400;
    max-width: 427px;
    font-size: var(--font-size-16px);
}
.features-information ul li{
    padding: 10px 0;
    align-items: center;
    list-style-type: none;
    font-size: var(--font-size-14px);
}
.features-information ul li::before{
    top: 7px;
    margin-right: 10px;
    position: relative;
    align-items: center;
    content: url('../img/check-circle.svg') ;
}
.blog{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.blog h2{
    color: var(--color-like-blue);
    font-family: var(--font-rubik);
    font-size: var(--font-size-35px);
}
.padding-title{
    padding-top: 180px;
}
.slideshow{
   display: flex;
   width: 1200px;
   margin: 0 auto;
}
.widget-blog{
    flex: 1;
    max-width: 400px;
    display: flex;
    margin: 0 10px;
    padding: 30px 10px;
    border-radius: 10px;
    transition: var(--animacao);
    border: 2px solid var(--color-light-gray);
}
.widget-blog:hover{
    border-color: var(--color-like-red);
}

.center-content{
    padding: 50px 0;
}
.widget-blog-img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    position: relative;
    background: var(--color-light-gray);
}
.widget-blog-content{
    width: 233px;
}
.widget-blog-content{
    color: var(--color-like-blue);
    font-family: var(--font-rubik);
}
.widget-blog-content h3{
    line-height: 30px;
    font-size: var(--font-size-18px) ;
}
.widget-blog-content p{
    font-size: var(--font-size-16px);
}

/* leads capture */
.leads{
    display: flex;
    padding-top: 173px;
    justify-content: center;
}
.leads-call, .leads-call{
    flex: 1;
    color: var(--color-like-blue);
    font-family: var(--font-rubik);
    
}
.leads-call{
    margin-left: 100px;
}
.leads-call h2{
    font-size: var(--font-size-35px);
    line-height: 45px;
    margin-bottom: 20px;
}
.leads-call p{
    font-size: var(--font-size-16px);
    line-height: 30px;
}

.leads-form{
    margin-right: 70px;
}
.leads-form form input{
    width: 318px;
    display: inline-block;
    padding: 15px 0;
    border-radius: 10px;
    border: 1px solid var(--color-like-blue );
    outline: none;
    padding-left: 10px;
}
.leads-form form button{
    background: var(--color-like-red);
    display: inline-block;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    color: var(--color-white);
    box-shadow: 0px 4px 14px rgb(245 56 56);
    transition: var(--animacao);
    cursor: pointer;
}
.leads-form form button:hover{
    filter: brightness(75%);
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 206px;
    background: var(--color-like-blue);
    font-family: var(--font-rubik);
    padding-bottom: 94px;
}
.footer-container{
    display: flex;
    flex-direction: column;
}
.footer-logo{
    padding-top: 70px;
    padding-bottom: 72px;
}
.copy{
    color: var(--color-like-gray);
    
}













@media only screen and (max-width:1280px){
    .slideshow{
        width: 1200px;
    }
}

@media only screen and (min-width:980px) and (max-width:1279px){
    .slideshow{
        width: 980px;
    }
}
@media only screen and (min-width:767px) and (max-width:1030px){
    .slideshow{
        width: 600px;
    }
}
@media only screen and (min-width:320px) and (max-width:670px){

    .container{
        flex-direction: column;
    }
    .menu nav{
        margin-right: 0;
    }
    .container--arguments{
        padding: 0 10px;
    }
    .information_main h1{
        font-size: var(--font-responsiva-37);
        line-height: 44px;
    }
    .information_main p{
        margin-bottom: 27px;
    }
    .information_main em,
    .img_information img{
        display: none;
    }

    .numbers{
        padding: 50px 0;
        margin: 0 20px;
        align-items: center;
        justify-content: center;
    }
    .number-item{
        padding: 15px 0;
        border-bottom: 2px solid var(--color-light-gray);
    }
    .number-item:nth-child(3){
        border: none;
    }
    .number-item-img{
        width: 75px;
    }
    .number-item-count{
        width: 100px;
        align-items: flex-start;
    }
    .features-information{
        padding: 0;
        margin: 20px;
    }
    .features-img{
        padding: 0 20px;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .padding-title{
        padding-top: 60px;
    }
    .slideshow{
        width: 100%;
        max-width: 400px;
    }
    .widget-blog{     
        flex-direction: column;
    }
    .leads{
        padding: 0 10px;

    }
    .leads-call, .leads-form{
        margin-left: 0;
        margin-right: 0;
    }
    .leads-form{
        padding: 0 10px;
        align-items: center;
        justify-content: center;
    }
    .leads-form form input{
        width: 100%;
        padding-left: 0;
        padding: 10px 0;
        margin-bottom: 23px;
    }
    .leads-call h2{
        font-size: var(--font-responsiva-30);
        line-height: 42px;
        padding-top: 42px;
    }
    .leads-form form button{
        width: 100%;
        margin-bottom: 57px;
    }



    footer{
        margin-top: 56px;
    }
}